body {
    font-family: sans-serif;
}

row {
    display: flex;
}

.textright {
    text-align: right;
}

#panel {
    border: 1px solid black;
    height: 100%;
    margin-left: 1em;
    padding: 0.5em;
}